{% extends "_layout" %}

{% block content %}
{% set entry = craft.entries.section('collaborations').one() %}
<div class="page-title --collaborations" style="background-image: url('{{ entry.headerBackgroundImage.one().url }}'); background-size: cover; background-position: 50% 50%;">
    <div class="container">
        <div class="col-md-12 col-lg-8 col-centered">
            <h2 class="subheadline">{{ entry.headerHeadline }}</h2>
            <h1 class="headline">{{ entry.headerSubheadline|striptags|raw }}</h1>
        </div>
    </div>
</div>


<div id="collaborations">
	<div class="container">
		{% for block in entry.collaborations.all() %}
			<div class="row">
				<div class="col-md-11 col-lg-8 col-centered">
					<div class="collaborator">
						<div class="logo">
							<img src="{{ block.collabCompanyLogo.one().url }}" class="">
						</div>
						{{ block.collabBody }}
						<div style="text-align: center;">
							<a href="{{ block.collabExternalLink }}" target="_blank" rel="noopener" class="btn btn-minimal">{{ block.collabButtonText }}</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>



{% endblock %}