<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />

		{% include "stylesheets.html" %}

		<script src="https://use.typekit.net/mqp2cms.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<script src="https://use.fontawesome.com/fc61d10275.js"></script>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<script>
			function viewTeam(el, team) {
				$('.select-trigger').removeClass('active');
				$(el).addClass('active');
				$('.team-container.active').fadeOut(function() {
					$(this).removeClass('active');
					$('#'+team).fadeIn(function() {
						$(this).addClass('active');
					});
				});
			}
		</script>
	</head>

	<body>
		<div class="mobile-menu">
		    <ul>
			    {% if showHide.showPages.contains('companyOverview') %}
				<li><a href='{{ url('company/overview') }}'>Company Overview</a></li>
				{% endif %}
				{% if showHide.showPages.contains('companyAboutUs') %}
				<li><a href='{{ url('company/about') }}'>About Us</a></li>
				{% endif %}
				{% if showHide.showPages.contains('technologyOverview') %}
				<li><a href='{{ url('technology/overview') }}'>Technology</a></li>
				{% endif %}
				{% if showHide.showPages.contains('collaborations') %}
				<li><a href='{{ url('collaborations') }}'>Collaborations</a></li>
				{% endif %}
				{% if showHide.showPages.contains('resourcesPublications') %}
				<li><a href='{{ url('resources/publications') }}'>Resources</a></li>
				{% endif %}
				{% if showHide.showPages.contains('newsEvents') %}
				<li><a href='{{ url('news') }}'>News &amp; Events</a></li>
				{% endif %}
				{% if showHide.showPages.contains('contactUs') %}
				<li><a href='{{ url('contact') }}'>Contact</a></li>
				{% endif %}
		    </ul>
		</div>

		<div class="page-container">
		<header class="{% if dark is defined %}--light{% endif %}">
			<a href='{{ siteUrl }}'>
				{% if dark is defined %}
					<img src='{{ company.lightLogo.one().url }}' />
				{% else %}
					<img src='{{ company.logo.one().url }}' />
				{% endif %}
			</a>

			<nav>
				<ul>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" id="companyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Company
						</a>

					  	<div class="dropdown-menu" aria-labelledby="companyDropdown">
					    	{% if showHide.showPages.contains('companyOverview') %}
					    		<a class="dropdown-item" href='{{ url('company/overview') }}'>Overview</a>
					    	{% endif %}
					    	{% if showHide.showPages.contains('companyAboutUs') %}
					    		<a class="dropdown-item" href='{{ url('company/about') }}'>About Us</a>
					    	{% endif %}
					  	</div>
					</li>
					{% if showHide.showPages.contains('technologyOverview') %}
					<li><a href='{{ url('technology/overview') }}'>Technology</a></li>
					{% endif %}
					{% if showHide.showPages.contains('collaborations') %}
					<li><a href='{{ url('collaborations') }}'>Collaborations</a></li>
					{% endif %}

					{% if showHide.showPages.contains('resourcesPublications') %}
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" id="resourcesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Resources
						</a>

					  	<div class="dropdown-menu" aria-labelledby="resourcesDropdown">
					    	<a class="dropdown-item" href='{{ url('resources/publications') }}'>Publications</a>
					  	</div>
					</li>
					{% endif %}
					{% if showHide.showPages.contains('newsEvents') %}
					<li><a href='{{ url('news') }}'>News &amp; Events</a></li>
					{% endif %}
					{% if showHide.showPages.contains('contactUs') %}
					<li><a href='{{ url('contact') }}'>Contact</a></li>
					{% endif %}
				</ul>
			</nav>

			<button type="button" class="toggle-menu" aria-label="Toggle Mobile Menu">
			    <span class="burger-lines"></span>
			</button>
		</header>

		<main>
			{% block content %}
			{% endblock %}
		</main>

		<footer>
			<div class="container">
				<a href="{{ siteUrl }}">
					<img src="{{ company.lightLogo.one().url }}" />
				</a>

				<nav>
					<ul>
						{% if showHide.showPages.contains('companyOverview') %}
						<li><a href='{{ url('company/overview') }}'>Company</a></li>
						{% endif %}
						{% if showHide.showPages.contains('companyAboutUs') %}
						<li><a href='{{ url('company/about') }}'>About Us</a></li>
						{% endif %}
						{% if showHide.showPages.contains('technologyOverview') %}
						<li><a href='{{ url('technology/overview') }}'>Technology</a></li>
						{% endif %}
						{% if showHide.showPages.contains('collaborations') %}
						<li><a href='{{ url('collaborations') }}'>Collaborations</a></li>
						{% endif %}
						{% if showHide.showPages.contains('resourcesPublications') %}
						<li><a href='{{ url('resources/publications') }}'>Resources</a></li>
						{% endif %}
						{% if showHide.showPages.contains('newsEvents') %}
						<li><a href='{{ url('news') }}'>News &amp; Events</a></li>
						{% endif %}
						{% if showHide.showPages.contains('contactUs') %}
						<li><a href='{{ url('contact') }}'>Contact</a></li>
						{% endif %}
					</ul>
					<div class="copy">
						<p>&copy; Copyright {{ now | date('Y') }} Von Baer Wolff. All Rights Reserved.</p>
					</div>
				</nav>
			</div>
		</footer>
		</div> <!-- page container -->

		<script src="//code.jquery.com/jquery-latest.js"></script>
		<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

		<script>
			var ab = ab || {};
			$(function() {
				'use strict';

			    // Mobile menu toggle functionality
			    ab.mobileMenu = (function () {
			        'use strict';

			        var init = function() {

			        $('.toggle-menu').on('touchstart click', function(e) {
			            e.preventDefault();
			           $ (this).toggleClass("active");

			            var $body = $('body'),
			                $page = $('.page-container'),
			                $menu = $('.mobile-menu'),

			                /* Cross browser support for CSS "transition end" event */
			                transitionEnd = 'transitionend webkitTransitionEnd otransitionend MSTransitionEnd';

			            /* When the toggle menu link is clicked, animation starts */
			            $body.addClass('animating');

			            if ( $body.hasClass('menu-visible')) {
			           		$body.addClass('right');
			            } else {
			           		$body.addClass('left');
			            }

			            $page.on(transitionEnd, function() {
			           		$body
			            	.removeClass('animating left right')
			            	.toggleClass('menu-visible');

			           		$page.off(transitionEnd);
			          	});
			        });
			    }

			    return { init: init };
		    	}());

			    // initialise modules
			    ab.mobileMenu.init();
				$('a.fl').featherlight({
					targetAttr: 'href'
				});

				function viewTeam(el, team) {
					$('.team-container.active').removeClass('active');
					$('#'+team).fadeIn(function() {
						this.addClass('active');
					});
				}
			});
		</script>
	</body>
</html>